
<!-- <ul>
    <li><a class="active">Home</a></li>
    <li><a >News</a></li>
    <li><a >Contact</a></li>
    <li><a >About</a></li>
  </ul> -->


  <nav class="navbar">
    <div class="logo">CyberStore</div>
    
    <ul class="nav-links">
      <div class="menu">
        <li><a routerLink="/productlist">Home</a></li>
        <li><a routerLink="/aboutus">About Us</a></li>
        <li><a routerLink="/cart">MyCart</a></li>
        <li><a routerLink="/">Logout</a></li>
      </div>
    </ul>
  </nav>