
<!-- <h2>Products</h2> -->
        
<div class="container ">
  <div class="row " >
      <ng-container *ngFor="let product of productlist">
          <div class="card card_pad" >
              <img src="{{product.img}}" alt="" >
              <div class="card" [@cardFlip]="data.state">
                
                <div class="face back">
                  <h5 >{{product.name}}</h5>
                  <p >{{product.price}}</p>
                  <p><strong>Price:</strong> {{product.price|currency:"INR"}}</p>
                </div>

                <div class="face front">
                  {{product.details}}
                </div>
              </div>

              <button class="btn" (click)="onSelect(product)"  >Details</button>
              <button class="btn">Add to cart</button>
          </div>
          
      </ng-container>

  </div>
</div>

<!-- 
        <ul *ngFor="let product of productlist">
          <li><img class="img-size" src="{{product.img}}">{{product.id}}. <b>{{product.name}}</b> - {{product.price | currency:'INR':true}}</li>
        </ul> -->
